.control{
   height: 150px;
   width: 1000px;
   background-color: wheat;
   margin: 30px;
}

.control div{
    height: 40px;
    width: 100px;
    margin: 10px
}


.drop-zone{
   height: 500px;
   width: 1000px;
   background-color: aliceblue;
   margin: 30px;
}

.coupontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:70px;
    height:40px;
}

.checkbox {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 255, .15);
}
